# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Django migrations 
**/migrations/*.pyc
**/migrations/__pycache__/

# Static & media 
staticfiles/
media/

# Virtual environment
venv/
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp

# Git
.git
.gitignore

# Docker-related
docker-compose.override.yml
docker-compose.yml
Dockerfile
Dockerfile.prod
.dockerignore
